
<div class="container">

<div>
 <h1>Hello, Welcome to Sinatra web development 101 !</h1>
  <h4>Please sign up or log in to access your recode privileges!</h4>
   <div class="mr-4" style="padding-righ:30px;">
        <h3 class="info"><span style ="color:green"><%=@count%></span> links has been shortened</h3>
  </div>

   <div class="mr-4" style="padding-righ:30px;">
        <p class="info"><span style ="background-color:light-green;color:dark-green;"><%=session[:status_message]%></span><p>
  </div>

  </div>


<div>
 <form action="/url_shorten" method="POST" id="form">

    <div class="input-group mb-3" action="/url_shorten" method="POST">
      <input type="text" class="form-control" placeholder="enter your url" name="url">
      <div class="input-group-append">
        <button class="btn btn-secondary" type="submit" for="url">shorten</button>
      </div>
    </div>

</form>


<div>
  <h4 class="info"><%=@message%></h4>
</div>
</div>






<%# </body>

</html> %>
