<!DOCTYPE html>
<head>
  
</head>

<body>
  <%# <h1>Welcome to Recode</h1> %>
   <h1>Hello, Welcome to Sinatra web development 101 !</h1>
  <h4>Please sign up or log in to access your @recode.edu email account</h4>

  <form action="/url_shorten" method="POST">

<div class="input-group mb-3" action="/shorten" method="POST">
  <input type="text" class="form-control" placeholder="enter your url" name="url">
  <div class="input-group-append">
    <button class="btn btn-secondary" type="submit" for="url">shorten</button>
  </div>
</div>

</form>

<div>
  <%# <h4><%=@message%> <%#/h4 %>
  <% if @mesaage.nil?
    <h4>please enter your url</h4> 

  else
    <h4><%=@message%></h4>
  end %>

</div>
  <a href="/registrations/signup">Sign Up</a>
  <a href="/sessions/login">Log In</a>

</body>

</html>
